on:
  push:
    branches:
      - main
  pull_request:
name: ci
env:
  FORCE_COLOR: 2
  NODE: 24
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: node -v
      - run: npm ci
      - run: npm test
      - run: npm run coverage
        if: matrix.node == env.node
      - uses: codecov/codecov-action@v5
        if: matrix.node == env.node
        with:
          fail_ci_if_error: false
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE }}
          cache: npm
      - run: npm ci
      - run: npm test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE }}
          cache: npm
      - run: npm ci
      - run: npm run lint
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE }}
          cache: npm
      - run: npm ci
      - run: npm run docs-test
